<div class="padpar">
    <div>
        <span class="parfont">Hi I am Parent Component Sending data to child</span>
    </div>
    <div class="padtop">
        <div fxLayout="row wrap">
            <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="30" fxFlex.lg="30" fxFlex.xl="30" *ngFor="let parentData of parentDatas">
                <div class="prdcard">
                    <app-child [childData] = "parentData"></app-child>
                </div>
            </div>
        </div>
    </div>
</div>

